<div ng-controller="DebtorCommunicationsController">

  <div class="referral-parner">
    <div class="row sms-menu">
      <div class="col-xs-2" ng-class="{'active': communication.newInvoice.sendSMS}">
        <span>SMS</span>
      </div>
      <div class="col-xs-2" ng-class="{'active': communication.invoicePastDue.sendSMS}">
        <span>SMS</span>
      </div>
      <div class="col-xs-2" ng-class="{'active': communication.pastDueReminder.sendSMS}">
        <span>SMS</span>
      </div>
      <div class="col-xs-2" ng-class="{'active': communication.seriousArrears.sendSMS}">
        <span>SMS</span>
      </div>
      <div class="col-xs-2" ng-class="{'active': communication.seriousArrearsReminder.sendSMS}">
        <span>SMS</span>
      </div>
      <div class="col-xs-2">
      </div>
    </div>

    <ul class="menu-step">
      <li ng-class="{'active': step === 1,'completed-green': step > 1}">
        <a href="#" ng-click="newInvoice(communication.newInvoice)"><span>New Invoice</span></a>
      </li>

      <li ng-class="{'active': step === 2,'completed-yellow': step > 2}">
        <a href="#" ng-click="invoicePastDue(communication.invoicePastDue)"><span>Invoice Past Due</span></a>
      </li>
      <li ng-class="{'active': step === 3 && !notConfigSerriousArrears,'completed-yellow': step > 3 || notConfigSerriousArrears}">
        <a href="#" ng-click="pastDueReminder(communication.pastDueReminder)"><span>Past Due Reminder(s)</span></a>
      </li>
      <li ng-class="{'active': step === 4,'completed-red': step > 4}">
        <a href="#" ng-click="seriousArrears(communication.seriousArrears)"><span>Serious Arrears</span></a>
      </li>
      <li ng-class="{'active': step === 5,'completed-red': step > 5}">
        <a href="#" ng-click="seriousArrearsReminder(communication.seriousArrearsReminder)"><span>Serious Arrears Reminder(s)</span></a>
      </li>
      <li ng-class="{'active': step === 6,'completed-purple': step > 6}">
        <a href="#" ng-click="noticeDefault()"><span>Notice of Default</span></a>
      </li>
    </ul>
    
    <div ng-show="step > 1" class="active-panel"></div>

    <div class="row">
      <div class="col-xs-3">
        <div class="arrow-timeline">
          Current
          <i></i>
          <span class="pull-left">Invoice day</span>
          <span class="pull-right" style="margin-right: 30px">Due day</span>
        </div>
        <table class="table-time">
          <tr>
            <td>SMS Sent</td>
            <td>{{(communication.newInvoice.sendSMS) ? (communication.newInvoice.noDaysEmailed | noDay) : ''}}</td>
          </tr>
          <tr>
            <td style="width:72%">Email Sent</td>
            <td>{{communication.newInvoice.noDaysEmailed | noDay}}</td>

          </tr>
          <tr>
            <td>Reminder Frequency(days)</td>
            <td></td>
          </tr>
          <tr>
            <td>Min. Invoice Amt</td>
            <td></td>
          </tr>
          <tr>
            <td>Min. Arrears Amt.</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-9">
        <div class="arrow-timeline">
          Past Due
          <i></i>
          <span class="pull-right">Days</span>
        </div>

        <table class="table-time">
          <tr>
            <td style="width:20%">
              {{(communication.invoicePastDue.sendSMS) ? (communication.invoicePastDue.invoicePastDueDate | noDay) : ''}}
              &nbsp;
            </td>
            <td style="width:20%">{{(communication.pastDueReminder.sendSMS) ? (step3Day | noDay) : ''}}&nbsp;
            </td>
            <td style="width:20%">{{(communication.seriousArrears.sendSMS) ? (step4Day | noDay) : ''}}&nbsp;
            </td>
            <td style="width:20%">{{(communication.seriousArrearsReminder.sendSMS) ? (step5Day | noDay) : ''}}&nbsp;
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>{{communication.invoicePastDue.invoicePastDueDate | noDay}}</td>
            <td>{{step3Day | noDay}}</td>
            <td>{{step4Day | noDay}}</td>
            <td>{{step5Day | noDay}}</td>
            <td>{{step6Day | noDay}}&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>{{communication.pastDueReminder.reminderFrequency | dueDate}}</td>
            <td>&nbsp;</td>
            <td>
              {{communication.seriousArrearsReminder.reminderFrequency | dueDate}}
              {{communication.seriousArrearsReminder.maxNoReminders | reminderss}}</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>{{communication.invoicePastDue.minInvoiceAmount | amount}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>{{communication.pastDueReminder.minArrearsAmount | amount}}</td>
            <td>{{communication.seriousArrears.minArrearsAmount | amount}}</td>
            <td>{{step6Amount | amount}}</td>
            <td>{{step7Amount | amount}}</td>
          </tr>
        </table>
        <div class="watermark" ng-if="notConfigSerriousArrears">Not Configured</div>
      </div>
    </div>

  </div>
</div>