<div ng-controller="DebtorCommunicationsController">

  <div class="referral-parner">
    <div class="row sms-menu">
      <div class="col-xs-2">
        <span>SMS</span>
      </div>
      <div class="col-xs-2">
        <span>SMS</span>
      </div>
      <div class="col-xs-2">
        <span>SMS</span>
      </div>
      <div class="col-xs-2">
        <span>SMS</span>
      </div>
      <div class="col-xs-2">
        <span>SMS</span>
      </div>
      <div class="col-xs-2">
      </div>
    </div>

    <ul class="menu-step">
      <li ng-class="{active: communicationActiveTab=='new'}">
        <a href="#" ng-click="setActiveTab('new')"><span>New Invoice</span></a>
      </li>
      <li ng-class="{active: communicationActiveTab=='pasDue'}">
        <a href="#" ng-click="setActiveTab('pasDue')"><span>Invoice Past Due</span></a>
      </li>
      <li ng-class="{active: communicationActiveTab=='pasDueReminder'}">
        <a href="#" ng-click="setActiveTab('pasDueReminder')"><span>Past Due Reminder(s)</span></a>
      </li>
      <li ng-class="{active: communicationActiveTab=='seriousArrears'}">
        <a href="#" ng-click="setActiveTab('seriousArrears')"><span>Serious Arrears</span></a>
      </li>
      <li ng-class="{active: communicationActiveTab=='seriousArrearsReminder'}">
        <a href="#" ng-click="setActiveTab('seriousArrearsReminder')"><span>Serious Arrears Reminder(s)</span></a>
      </li>
      <li ng-class="{active: communicationActiveTab=='noticeDefault'}">
        <a href="#" ng-click="setActiveTab('noticeDefault')"><span>Notice of Default</span></a>
      </li>
    </ul>

    <div class="row">
      <div class="col-xs-3">
        <div class="arrow-timeline">
          Current
          <i></i>
          <span class="pull-left">Invoice day</span>
          <span class="pull-right">Due day</span>
        </div>
        <table class="table-time">
          <tr>
            <td>SMS Sent</td>
            <td>Day 2</td>
          </tr>
          <tr>
            <td>Email Sent</td>
            <td>Day 2</td>
          </tr>
          <tr>
            <td>Reminder Frequency(days)</td>
            <td>Day 2</td>
          </tr>
          <tr>
            <td>Min. Invoice Amt</td>
            <td>Day 2</td>
          </tr>
          <tr>
            <td>Min. Arrears Amt.</td>
            <td>Day 2</td>
          </tr>
        </table>
      </div>
      <div class="col-xs-9">
        <div class="arrow-timeline">
          Past Due
          <i></i>
          <span class="pull-right">Days</span>
        </div>

        <table class="table-time">
          <tr>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
          </tr>
          <tr>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
          </tr>
          <tr>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
          </tr>
          <tr>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
          </tr>
          <tr>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
            <td>Day 2</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Serious Arrears Reminder - Configuration</strong></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <p><strong>Email</strong></p>
            <a href="#" class="btn btn-primary">Pro - Porma<br>Communication</a>
          </div>
          <div class="col-xs-6">
            <p><strong>SMS</strong></p>
            <a href="#" class="btn btn-primary">Pro - Forms<br>Communication</a>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <a href="#" class="btn btn-primary">Next</a>
      </div>
    </div>
  </div>
</div>