#debtorCommunicationsFlowDiagram {
    padding-top: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#debtorCommunicationsFlowDiagram > div {
    position: relative;
    display: inline-block;
    padding-top: 20px;
    margin-left: -30px;
}

#debtorCommunicationsFlowDiagram > div:first-child {
    margin-left: 0;
}

#debtorCommunicationsFlowDiagram span.arrowText {
    position: absolute;
    top: 92px;
    left: 50px;
    color: white;
    text-align: left;
}

#debtorCommunicationsFlowDiagram span.smsText {
    position: absolute;
    top: 32px;
    left: 67px;
    color: white;
    text-align: left;
}