.referral-parner {
    padding-right: 50px;
}

.menu-step {
    display: table;
    width: 100%;
    padding: 0px;
    margin-left: -5px;
    margin-right: -5px;
}

.menu-step li {
    width: 16%;
    list-style: none;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-step li a {
    display: table;
    width: 100%;
}

.menu-step li a:hover, .menu-step li a:focus{
    text-decoration: none;
}

.menu-step li a span {
    display: block;
    height: 95px;
    padding: 0;
    background: #ddd;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
    color: #666;
    font-size: 15px;
    position: relative;
    padding-left: 59px;
    text-align: center;
}

.menu-step li a span:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 47px 0 48px 50px;
    border-color: transparent transparent transparent #ddd;
    position: absolute;
    right: -50px;
    top: 0px;
    z-index: 100;
}

.menu-step li a span:before {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 47px 0 48px 50px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.menu-step li:first-child a span:before {
    display: none;
}

.menu-step li:first-child {
    width: 20%;
}

.menu-step li:first-child a span {
    padding-left: 20px;
}

.menu-step li.active a span {
    background: rgb(49, 120, 186);
    color: #fff;
}

.menu-step li.active a span:after {
    border-color: transparent transparent transparent rgb(49, 120, 186);
}

.sms-menu {
    text-align: center;
    margin-bottom: 10px;
}

.sms-menu div.active span {
    background: rgb(49, 120, 186);
    color: #FFF;
}

.sms-menu span {
    display: inline-block;
    padding: 5px 20px;
    background: #ddd;
    border-radius: 5px;
}

.arrow-timeline {
    margin-bottom: 35px;
}

.arrow-timeline i {
    border-bottom: 2px solid #333;
    display: block;
    position: relative;
    clear: both;
    margin: 2px 0px
}

.arrow-timeline i:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 9px;
    border-color: transparent transparent transparent #333;
    position: absolute;
    right: -2px;
    top: -5px;
}

.arrow-timeline span {
    font-size: 12px;
}

.table-time {
    width: 100%;
    font-size: 13px;
    margin-bottom: 20px;
}

.table-time tr:nth-child(2n+1) {
    background: #eee;
}

.table-time td {
    padding: 7px 5px;
}

.panel-body {
    padding: 30px;
}