.referral-parner {
    padding-right: 50px;
}

.menu-step {
    display: table;
    width: 100%;
    padding: 0px;
    margin-left: -5px;
    margin-right: -5px;
}

.menu-step li {
    width: 15%;
    list-style: none;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-step li a {
    display: table;
    width: 100%;
}

.menu-step li a:hover, .menu-step li a:focus{
    text-decoration: none;
    outline: none;
}

.menu-step li a span {
    display: block;
    height: 95px;
    padding: 0;
    background: #ddd;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
    color: #666;
    font-size: 15px;
    position: relative;
    padding-left: 59px;
    text-align: center;
    text-decoration: underline
}

.menu-step li a span:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 47px 0 48px 50px;
    border-color: transparent transparent transparent #ddd;
    position: absolute;
    right: -50px;
    top: 0px;
    z-index: 100;
}

.menu-step li a span:before {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 47px 0 48px 50px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.menu-step li:first-child a span:before {
    display: none;
}

.menu-step li:first-child {
    width: 21%;
}

.menu-step li:first-child a span {
    padding-left: 20px;
}

.menu-step li.active a span {
    background: rgb(49, 120, 186);
    color: #fff;
}

.menu-step li.completed-green a span {
    background: #449d44;
    color: #FFF;
}

.menu-step li.completed-green a span:after {
    border-color: transparent transparent transparent #449d44;
}

.menu-step li.completed-yellow a span {
    background: #f0ad4e;
    color: #FFF;
}

.menu-step li.completed-yellow a span:after {
    border-color: transparent transparent transparent #f0ad4e;
}

.menu-step li.completed-red a span {
    background: #d9534f;
    color: #FFF;
}

.menu-step li.completed-red a span:after {
    border-color: transparent transparent transparent #d9534f;
}

.menu-step li.completed-purple a span {
    background: #9256a3;
    color: #FFF;
}

.menu-step li.completed-purple a span:after {
    border-color: transparent transparent transparent #9256a3 !important;
}

.menu-step li.active a span:after {
    border-color: transparent transparent transparent rgb(49, 120, 186);
}

.sms-menu {
    text-align: center;
    margin-bottom: 10px;
}

.sms-menu div.active span {
    background: rgb(49, 120, 186);
    color: #FFF;
}

.sms-menu span {
    display: inline-block;
    padding: 5px 20px;
    background: #ddd;
    border-radius: 5px;
}

.arrow-timeline {
    margin-bottom: 35px;
}

.arrow-timeline i {
    border-bottom: 2px solid #333;
    display: block;
    position: relative;
    clear: both;
    margin: 2px 0px
}

.arrow-timeline i:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 9px;
    border-color: transparent transparent transparent #333;
    position: absolute;
    right: -2px;
    top: -5px;
}

.arrow-timeline span {
    font-size: 12px;
}

.table-time {
    width: 100%;
    font-size: 13px;
    margin-bottom: 20px;
}

.table-time tr:nth-child(2n+1) {
    background: #eee;
}

.table-time td {
    padding: 7px 5px;
}

.panel-body {
    padding: 30px;
}

.watermark {
    font-size: 44px;
    position: absolute;
    top: 110px;
    right: 163px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    color: #ACADAD;
}
.email-forma a {
    text-decoration: underline;
}

.email-forma .header {
    border-bottom: solid 6px;
    margin-bottom: 20px;
}

.email-forma .body {
    padding-left: 25px;
    border-bottom: solid 2px #DEDEDE
}

.email-forma .body h5 {
    font-weight: bold;
}

.email-forma .body p span:first-child {
    display: inline-block;
    width:10%
}

.email-forma .body table {
    margin-bottom: 10px;
}
.email-forma .body .payment-options {
    position: absolute;
    right: 70px;
    width: 149px;
    /* height: 79px; */
    overflow: hidden;
    text-wra: initial;
    word-wrap: break-word;
    white-space: pre-line;
}

.email-forma .body table tr:first-child{
    border-bottom: solid 1px #000;
}

.email-forma .body table td{
    padding: 0 15px;
}

.email-forma .footer {
    padding: 10px 0 0 25px;
    border-bottom: solid 6px;
}
.email-forma .footer p{
    margin-top: 30px
}

.email-forma.border-green .header, .email-forma.border-green .footer {
    border-bottom-color:#92D050;
}

.email-forma.border-yellow .header, .email-forma.border-yellow .footer {
    border-bottom-color:#FFC000;
}

.email-forma.border-red .header, .email-forma.border-red .footer {
    border-bottom-color:#FF0000;
}
.email-forma.border-purple .header, .email-forma.border-purple .footer {
    border-bottom-color:#660066;
}
