<div class="row">
  <div class="col-md-6 modal-1">
    <div class="modal-body email-forma border-purple">
      <div class="header">
        <img ng-src="{{logoUrl}}" class="center-block">

        <h3 class="text-center">{{params.heading}}</h3>
      </div>
      <div class="body">
        <button class="btn btn-lg btn-primary payment-options">Payment options</button>
        <p>{{params.salutation}}</p>
        <h4>Bloggs, Joe Smith</h4>

        <p>{{params.invoiceDescription}}</p>
        <span ng-bind-html="params.descriptiveText"></span>
        <!--<p>You are hereby notified:</p>-->
        <!--<ul>-->
        <!--<li>You are in default with us in respect of our payment terms</li>-->
        <!--<li>No further system based communications will be issued to you</li>-->
        <!--<li>If you do not take prompt action to rectify the matter with us, we may take legal action and/or-->
        <!--refer the matter to a third party collections agent</li>-->
        <!--<li>Such actions by us may affect your ability to obtain credit in the future</li>-->
        <!--<li>We will look to pass the costs of any such actions on to you</li>-->
        <!--</ul>-->
        <!--<p>We remind you of your obligations and strongly suggest that you contact us immediately to discuss payment of-->
        <!--your outstanding invoice balances and avoid any additional legal costs.</p>-->
        <p>{{params.valediction  }}</p>

        <p>{{merchantConfigService.merchantConfig.general.merchantTradingName}}</p>
        <h5>Please direct all enquires as follows:</h5>

        <p>
          <span>Telephone:</span>
          <span>{{merchantConfigService.merchantConfig.contacts.accountReceivable.phone | phoneNumber}}</span>
        </p>

        <p>
          <span>Email:</span>
          <span>{{merchantConfigService.merchantConfig.contacts.accountReceivable.email}}</span>
        </p>
      </div>
      <div class="footer">
        <small class="text-center"><i>
          This email and any files transmitted with it are confidential and intended safely for use of the individual or
          entity to whom they are addressed it. If you have received this email in error, please delete this email from
          your system
        </i></small>
        <p class="text-center">Interested in using this service for your business? click <a href="#">here</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 modal-2">
    <form name=form class="form-horizontal" ng-submit="save(form)">
      <div class="modal-header">
        <h2 class="text-center">Merchant Email Edit Fields</h2>
      </div>
      <div class="modal-body notice-of-default email-editable" get-height=".email-forma">

        <div class="form-group heading" ng-class="{'has-error': form.heading.$invalid && submitted}">
          <label for="heading" class="control-label col-xs-4">Heading</label>

          <div class="col-xs-8">
            <input type="text" id="heading" name="heading" ng-model="editable.heading" class="form-control" required>

            <div class="help-block" ng-if="form.heading.$error.required && submitted">This input is required</div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.salutation.$invalid && submitted}">
          <label for="salutation" class="control-label col-xs-4">Salutation</label>

          <div class="col-xs-8">
            <input type="text" id="salutation" name="salutation" ng-model="editable.salutation" class="form-control">

            <div class="help-block" ng-if="form.salutation.$error.required && submitted">This input is required</div>
          </div>
        </div>
        <div class="form-group invoice-description">
          <label for="invoiceDescription" class="control-label col-xs-4">Invoice Description</label>

          <div class="col-xs-8">
            <input type="text" id="invoiceDescription" name="invoiceDescription" class="form-control"
                   ng-model="editable.invoiceDescription" required>
          </div>
        </div>
        <div class="form-group descriptive-text" ng-class="{'has-error': form.thankYou.$invalid && submitted}">
          <label for="descriptiveText" class="control-label col-xs-4">Descriptive Text</label>

          <div class="col-xs-8">
            <textarea ckeditor="editorOptions" id="descriptiveText" name="descriptiveText"
                      ng-model="editable.descriptiveText" class="form-control"></textarea>

            <div class="help-block" ng-if="form.thankYou.$error.required && submitted">This input is required</div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.valediction.$invalid && submitted}">
          <label for="valediction" class="control-label col-xs-4">Valediction</label>

          <div class="col-xs-8">
            <input type="text" id="valediction" name="valediction" ng-model="editable.valediction"
                   class="form-control">

            <div class="help-block" ng-if="form.valediction.$error.required && submitted">This input is required</div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Confirm Email Template</button>
        <button class="btn btn-default" ng-click="cancel()">Back</button>
      </div>
    </form>
  </div>
</div>