<div class="row">
  <div class="col-md-6 modal-1">
    <div class="modal-body email-forma border-red">
      <div class="header">
        <img ng-src="{{logoUrl}}" class="center-block">

        <h3 class="text-center">{{params.heading}}</h3>
      </div>
      <div class="body">
        <button class="btn btn-lg btn-primary payment-options">Payment options</button>
        <p>{{params.salutation}}</p>
        <h4>Bloggs, Joe Smith</h4>

        <p>{{params.invoiceDescription}}</p>
        <table>
          <tr>
            <td>Invoice</td>
            <td>Due Date</td>
            <td>Amount</td>
          </tr>
          <tr>
            <td>46963</td>
            <td>27-Aug-2015</td>
            <td>$660.00</td>
          </tr>
          <tr>
            <td>46971</td>
            <td>15-Sep-2015</td>
            <td>$791.50</td>
          </tr>
        </table>
        <p>A copy of the original invoices is attached for your reference.</p>

        <p>There are a number of payment options available to you, all of which can be accessed by click <a href="#">here</a>
        </p>

        <span ng-bind-html="params.descriptiveText"></span>
        <!-- <p><strong>You are advised</strong> that failure to take action will likely result is thefollowing actions being-->
          <!--taken by us:</p>-->
        <!--<ol>-->
          <!--<li>Formal recovery action being taken against you; and/or</li>-->
          <!--<li>Credit default notices being lodged against you with a National Credit Rating agency</li>-->
        <!--</ol>-->
        <!--<p>If you are unable to pay this debt you are strongly encouraged to immediately contact the Accounts-->
          <!--Department.</p>-->

        <p>{{params.valediction}}</p>

        <p>{{merchantConfigService.merchantConfig.general.merchantTradingName}}</p>
        <h5>Please direct all enquires as follows:</h5>

        <p>
          <span>Telephone:</span>
          <span>{{merchantConfigService.merchantConfig.contacts.accountReceivable.phone | phoneNumber}}</span>
        </p>

        <p>
          <span>Email:</span>
          <span><a href="mailto:{{merchantConfigService.merchantConfig.contacts.accountReceivable.email}}">{{merchantConfigService.merchantConfig.contacts.accountReceivable.email}}</a></span>
        </p>
      </div>
      <div class="footer">
        <small class="text-center"><i>
          This email and any files transmitted with it are confidential and intended safely for use of the individual or
          entity to whom they are addressed it. If you have received this email in error, please delete this email from
          your system
        </i></small>
        <p class="text-center">Interested in using this service for your business? click <a href="#">here</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 modal-2">
    <form name=form class="form-horizontal" ng-submit="save(form)">
      <div class="modal-header">
        <h2 class="text-center">Merchant Email Edit Fields</h2>
      </div>
      <div class="modal-body serious-arrears-reminder email-editable" get-height=".email-forma">

        <div class="form-group heading" ng-class="{'has-error': form.heading.$invalid && submitted}">
          <label for="heading" class="control-label col-xs-4">Heading</label>

          <div class="col-xs-8">
            <input type="text" id="heading" name="heading" ng-model="editable.heading" class="form-control" required>

            <div class="help-block" ng-if="form.heading.$error.required && submitted">This input is required</div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.salutation.$invalid && submitted}">
          <label for="salutation" class="control-label col-xs-4">Salutation</label>

          <div class="col-xs-8">
            <input type="text" id="salutation" name="salutation" ng-model="editable.salutation" class="form-control">

            <div class="help-block" ng-if="form.salutation.$error.required && submitted">This input is required</div>
          </div>
        </div>
        <div class="form-group invoice-description">
          <label for="invoiceDescription" class="control-label col-xs-4">Invoice Description</label>

          <div class="col-xs-8">
            <input type="text" id="invoiceDescription" name="invoiceDescription" class="form-control"
                   ng-model="editable.invoiceDescription" required>
          </div>
        </div>
        <div class="form-group descriptive-text" ng-class="{'has-error': form.thankYou.$invalid && submitted}">
          <label for="descriptiveText" class="control-label col-xs-4">Descriptive Text</label>

          <div class="col-xs-8">
            <textarea ckeditor="editorOptions" id="descriptiveText" name="descriptiveText" ng-model="editable.descriptiveText" class="form-control"></textarea>

            <div class="help-block" ng-if="form.thankYou.$error.required && submitted">This input is required</div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.valediction.$invalid && submitted}">
          <label for="valediction" class="control-label col-xs-4">Valediction</label>

          <div class="col-xs-8">
            <input type="text" id="valediction" name="valediction" ng-model="editable.valediction"
                   class="form-control">

            <div class="help-block" ng-if="form.valediction.$error.required && submitted">This input is required</div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Confirm Email Template</button>
        <button class="btn btn-default" ng-click="cancel()">Back</button>
      </div>
    </form>
  </div>
</div>