<div ng-controller="AddressesPanelController">
  <tabset>

    <tab heading="Business Address">

      <form name="form" class="css-form form-horizontal" ji-form style="margin-top: 30px" novalidate>
        <div class="form-group">
          <label class="col-sm-3 control-label">PO Box</label>

          <div class="col-sm-9">
            <input name="poBox" type="text" class="form-control" placeholder="PO Box" required
                   ng-model="merchantConfigService.merchantConfig.addresses.business.poBox">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Unit/Level</label>

          <div class="col-sm-9">
            <input name="unitOrLevel" type="text" class="form-control" placeholder="Unit or Level" required
                   ng-model="merchantConfigService.merchantConfig.addresses.business.unitOrLevel">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Property Name</label>

          <div class="col-sm-9">
            <input name="propertyName" type="text" class="form-control" placeholder="Property Name" required
                   ng-model="merchantConfigService.merchantConfig.addresses.business.propertyName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Address Line 1</label>

          <div class="col-sm-9">
            <input name="addressLine1" type="text" class="form-control" placeholder="Address Line 1" required
                   ng-model="merchantConfigService.merchantConfig.addresses.business.addressLine1">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Address Line 2</label>

          <div class="col-sm-9">
            <input name="addressLine2" type="text" class="form-control" placeholder="Address Line 2" required
                   ng-model="merchantConfigService.merchantConfig.addresses.business.addressLine2">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Suburb</label>

          <div class="col-sm-9">
            <input name="suburb" type="text" class="form-control" placeholder="Suburb" required
                   ng-model="merchantConfigService.merchantConfig.addresses.business.suburb">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">State</label>

          <div class="col-sm-9">
            <select class="form-control"
                    ng-model="merchantConfigService.merchantConfig.addresses.business.state"
                    ng-options="state.name for state in states">
                <option value="">Select state</option>
            </select>
            <!--<input name="state" type="text" class="form-control" placeholder="State" required-->
                   <!--ng-model="merchantConfigService.merchantConfig.addresses.business.state">-->
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Post Code</label>

          <div class="col-sm-9">
            <input name="postCode" type="text" class="form-control" placeholder="Post Code" required
                   ng-model="merchantConfigService.merchantConfig.addresses.business.postCode">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Country</label>

          <div class="col-sm-9">
            <input name="country" type="text" class="form-control" placeholder="Country" required
                   ng-model="merchantConfigService.merchantConfig.addresses.business.country">
          </div>
        </div>
      </form>

    </tab>

    <tab heading="Mailing Address">

      <label style="margin-top: 40px; margin-left: 40px">
        <input type="checkbox" ng-model="merchantConfigService.mailingAddressSameAsBusinessAddress"
               ng-change="onSameAsBusinessAddressChange()">&nbsp;&nbsp; Same as Business Address
      </label>

      <form ng-hide="merchantConfigService.mailingAddressSameAsBusinessAddress" name="form"
            class="css-form form-horizontal" ji-form style="margin-top: 30px" novalidate>
        <div class="form-group">
          <label class="col-sm-3 control-label">PO Box</label>

          <div class="col-sm-9">
            <input name="poBox" type="text" class="form-control" placeholder="PO Box" required
                   ng-model="merchantConfigService.merchantConfig.addresses.mailing.poBox">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Unit/Level</label>

          <div class="col-sm-9">
            <input name="unitOrLevel" type="text" class="form-control" placeholder="Unit or Level" required
                   ng-model="merchantConfigService.merchantConfig.addresses.mailing.unitOrLevel">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Property Name</label>

          <div class="col-sm-9">
            <input name="propertyName" type="text" class="form-control" placeholder="Property Name" required
                   ng-model="merchantConfigService.merchantConfig.addresses.mailing.propertyName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Address Line 1</label>

          <div class="col-sm-9">
            <input name="addressLine1" type="text" class="form-control" placeholder="Address Line 1" required
                   ng-model="merchantConfigService.merchantConfig.addresses.mailing.addressLine1">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Address Line 2</label>

          <div class="col-sm-9">
            <input name="addressLine2" type="text" class="form-control" placeholder="Address Line 2" required
                   ng-model="merchantConfigService.merchantConfig.addresses.mailing.addressLine2">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Suburb</label>

          <div class="col-sm-9">
            <input name="suburb" type="text" class="form-control" placeholder="Suburb" required
                   ng-model="merchantConfigService.merchantConfig.addresses.mailing.suburb">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">State</label>

          <div class="col-sm-9">
            <input name="state" type="text" class="form-control" placeholder="State" required
                   ng-model="merchantConfigService.merchantConfig.addresses.mailing.state">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Post Code</label>

          <div class="col-sm-9">
            <input name="postCode" type="text" class="form-control" placeholder="Post Code" required
                   ng-model="merchantConfigService.merchantConfig.addresses.mailing.postCode">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Country</label>

          <div class="col-sm-9">
            <input name="country" type="text" class="form-control" placeholder="Country" required
                   ng-model="merchantConfigService.merchantConfig.addresses.mailing.country">
          </div>
        </div>
      </form>

    </tab>

  </tabset>

</div>