<form name="form" ng-controller="ReferralPanelController" class="css-form form-horizontal" ji-form style="margin-top: 30px" novalidate>
  <p>We certify that the referral merchant:</p>
  <div class="row">
    <div class="col-md-6">
      <table class="table borderless">
        <tr>
          <td><p>1. Has been a client of the firm for</p></td>
          <td style="width:29%">
            <input type="text" name="months" class="form-control"
                   ng-model="merchantConfigService.merchantConfig.referral.months"
                   maxlength="6"
                   only-digits>
          </td>
          <td>months</td>
        </tr>
        <tr>
          <td><p>2. Has trading revenue of the past 2 Financial years (to nearest $100k)</p></td>
          <td>
            <input type="text" name="revenue1" class="form-control"
                   ng-model="merchantConfigService.merchantConfig.referral.revenue1"
                   mask="$999,999,999,999" clean="true"
                   only-digits style="margin-bottom: 10px">
            <input type="text" name="revenue2" class="form-control"
                   ng-model="merchantConfigService.merchantConfig.referral.revenue2"
                   mask="$999,999,999,999" clean="true"
                   only-digits>
          </td>
          <td></td>
        </tr>
        <tr>
          <td><p>3. Has net tangible assets at 30 June</p></td>
          <td>
            <input type="text" name="tangible" class="form-control"
                   ng-model="merchantConfigService.merchantConfig.referral.tangible"
                   mask="$999,999,999,999" clean="true"
                   only-digits>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-6">
      <p>We certify that the referral merchant is to the best of our knowledge, not as risk of financially or otherwise and that
        there is no known reason why this merchant would be a credit risk for OneBox or its banking counterparties 
        (please confirm by ticking the box adjacent) <input type="checkbox" class="pull-right" ng-model="merchantConfigService.merchantConfig.referral.confirm" />
      </p>
    </div>
    <div class="col-md-6">
      <p class="authorize-confirm">
        <button class="btn btn-primary">Authorised & Confirm</button>
      </p>
    </div>
  </div>
</form>