<form name="form" ng-controller="ContactPanelController" class="css-form form-horizontal contact-form" ji-form
      style="margin-top: 30px" novalidate>

  <div class="form-group">
    <label class="col-sm-3 control-label">IT Contact</label>

    <div class="col-sm-8">
      <div class="row" ng-class="{'has-error': form.itName.$invalid && submitted}">
        <div class="col-xs-7">
          <input name="itName" type="text" class="form-control" placeholder="Name" required
               ng-model="merchantConfigService.merchantConfig.contacts.it.name">
        </div>
        <div class="help-block col-xs-5" ng-if="form.itName.$error.required && submitted">This input is required</div>
      </div>
      <div class="row" ng-class="{'has-error': form.itEmail.$invalid && submitted}">
        <div class="col-xs-7">
          <input name="itEmail" type="email" class="form-control" placeholder="Email" required
               ng-model="merchantConfigService.merchantConfig.contacts.it.email" style="margin-top: 10px">
        </div>
        <div class="help-block col-xs-5" ng-if="form.itEmail.$error.email && submitted">Wrong email format</div>
        <div class="help-block col-xs-5" ng-if="form.itEmail.$error.required && submitted">This input is required</div>
      </div>
      <div class="row" ng-class="{'has-error': error.itPhone && submitted}">
        <div class="col-xs-2">
          <input type="text" class="form-control" maxlength="2" placeholder="Area Code"
                 ng-model="itPhone[0]" style="margin-top: 10px"
                 only-digits change-focus="#itPhone">
        </div>
        <div class="col-xs-5">
          <input id="itPhone" type="text" class="form-control" maxlength="8" placeholder="Phone Number" ng-model="itPhone[1]"
                 ng-keypress="onlyDigits($event)" style="margin-top: 10px">
        </div>
        <div class="help-block col-xs-5" ng-if="error.itPhone && submitted">{{error.itPhone}}</div>
      </div>
      <div class="row" ng-class="{'has-error': form.itMobile.$invalid && submitted}">
        <div class="col-xs-7">
          <input type="text" class="form-control" placeholder="Mobile" name="itMobile" ng-keypress="onlyDigits($event)"
                ng-model="merchantConfigService.merchantConfig.contacts.it.mobile"
                 maxlength="10" required style="margin-top: 10px"
                 mask="0999999999" restrict="reject">
        </div>
        <div class="help-block col-xs-5" ng-if="form.itMobile.$error.required && submitted">This input is required</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">OneBox Billing Contact</label>

    <div class="col-sm-8">
      <div class="row" ng-class="{'has-error': form.oneBoxBillingName.$invalid && submitted}">
        <div class="col-xs-7">
          <input name="oneBoxBillingName" type="text" class="form-control" placeholder="Name" required
               ng-model="merchantConfigService.merchantConfig.contacts.oneBoxBilling.name">
        </div>
        <div class="help-block col-xs-5" ng-if="form.oneBoxBillingName.$error.required && submitted">This input is required</div>
      </div>
      <div class="row" ng-class="{'has-error': form.oneBoxBillingEmail.$invalid && submitted}">
        <div class="col-xs-7">
          <input name="oneBoxBillingEmail" type="email" class="form-control" placeholder="Email" required
               ng-model="merchantConfigService.merchantConfig.contacts.oneBoxBilling.email" style="margin-top: 10px">
        </div>
        <div class="help-block col-xs-5" ng-if="form.oneBoxBillingEmail.$error.email && submitted">Wrong email format</div>
        <div class="help-block col-xs-5" ng-if="form.oneBoxBillingEmail.$error.required && submitted">This input is required</div>
      </div>
      <div class="row" ng-class="{'has-error': error.oneBoxBillingPhone && submitted}">
        <div class="col-xs-2">
          <input type="text" class="form-control" maxlength="2" placeholder="Area Code"
                 ng-model="oneBoxBillingPhone[0]" style="margin-top: 10px"
                 only-digits change-focus="#oneBoxBillingPhone">
        </div>
        <div class="col-xs-5">
          <input id="oneBoxBillingPhone" type="text" class="form-control" maxlength="8" placeholder="Phone Number" ng-model="oneBoxBillingPhone[1]"
                 only-digits style="margin-top: 10px">
        </div>
        <div class="help-block col-xs-5" ng-if="error.oneBoxBillingPhone && submitted">{{error.keyCommercialPhone}}</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Account receivable contact
       <span style="font-size: 25px; cursor: pointer;margin-left: 10px"
             popover="The email address of the Accounts Receivable Contact and the general office phone number [contained in the General tab] will appear at the bottom of all debtor payment communications."
             popover-trigger="mouseenter" popover-placement="right"
             class="glyphicon glyphicon-question-sign"></span>
    </label>

    <div class="col-sm-8">
      <div class="row" ng-class="{'has-error': form.accountReceivableName.$invalid && submitted}">
        <div class="col-xs-7">
          <input name="accountReceivableName" type="text" class="form-control" placeholder="Name" required
                 ng-model="merchantConfigService.merchantConfig.contacts.accountReceivable.name">
        </div>
        <div class="help-block col-xs-5" ng-if="form.accountReceivableName.$error.required && submitted">This input is required</div>
      </div>
      <div class="row" ng-class="{'has-error': form.accountReceivableEmail.$invalid && submitted}">
        <div class="col-xs-7">
          <input name="accountReceivableEmail" type="email" class="form-control" placeholder="Email" required
                 ng-model="merchantConfigService.merchantConfig.contacts.accountReceivable.email" style="margin-top: 10px">
        </div>
        <div class="help-block col-xs-5" ng-if="form.accountReceivableEmail.$error.email && submitted">Wrong email format</div>
        <div class="help-block col-xs-5" ng-if="form.accountReceivableEmail.$error.required && submitted">This input is required</div>
      </div>
      <div class="row" ng-class="{'has-error': error.accountReceivablePhone && submitted}">
        <div class="col-xs-2">
          <input type="text" class="form-control" maxlength="2" placeholder="Area Code"
                 ng-model="accountReceivablePhone[0]" style="margin-top: 10px"
                 only-digits change-focus="#accountReceivablePhone">
        </div>
        <div class="col-xs-5">
          <input id="accountReceivablePhone" type="text" class="form-control" maxlength="8" placeholder="Phone Number" ng-model="accountReceivablePhone[1]"
                 only-digits style="margin-top: 10px">
        </div>
        <div class="help-block col-xs-5" ng-if="error.accountReceivablePhone && submitted">{{error.accountReceivablePhone}}</div>
      </div>
    </div>
  </div>
</form>
