<style>
  .fileUpload {
    position: relative;
    overflow: hidden;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
</style>
<div ng-controller="GeneralPanelController">
<form name="form" class="css-form form-horizontal" ji-form
      style="margin-top: 30px" novalidate>

  <div class="form-group" ng-class="{'has-error': form.merchantName.$invalid && submitted}">
    <label class="col-sm-3 control-label">Legal Name</label>

    <div class="col-sm-9">
      <input name="merchantName" type="text" class="form-control" placeholder="Entity Legal Name" required
             ng-model="merchantConfigService.merchantConfig.general.merchantName">
      <div class="help-block" ng-if="form.merchantName.$error.required && submitted">Legal name is required</div>
    </div>

  </div>
  <div class="form-group" ng-class="{'has-error': form.merchantTradingName.$invalid && submitted}">
    <label class="col-sm-3 control-label">Trading Name</label>

    <div class="col-sm-9">
      <input name="merchantTradingName" type="text" class="form-control" placeholder="Entity Trading Name" required
             ng-model="merchantConfigService.merchantConfig.general.merchantTradingName">

      <div class="help-block" ng-if="form.merchantTradingName.$error.required && submitted">Trading name is required</div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.abnNumber.$invalid && submitted}">
    <label class="col-sm-3 control-label">ABN</label>

    <div class="col-sm-5">
      <input id="abnNumber" name="abnNumber" type="text" class="form-control"
             placeholder="ABN"
             ng-model="merchantConfigService.merchantConfig.abnNumber" required
             mask='99-999-999-999' clean="true"
             only-digits>
      <div ng-if="form.abnNumber.$error.required && submitted" class="help-block">Abn number is required</div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.industryType.$invalid && submitted}">
    <label class="col-sm-3 control-label">Industry Type</label>

    <div class="col-sm-5">
      <select class="form-control" name="industryType"
              ng-options="type.name for type in industryTypes"
              ng-model="merchantConfigService.merchantConfig.general.industryType" required>
        <option value="" selected>Industry Type</option>
      </select>
      <div ng-if="form.industryType.$error.required && submitted" class="help-block">Industry Type is required</div>
      <!--<input type="text" class="form-control" placeholder="Industry Type" ng-model="merchantConfigService.merchantConfig.general.industryType">-->
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': error.phone && submitted}">
    <label class="col-sm-3 control-label">Phone</label>
    <div class="col-sm-5">
      <div class="row">
        <div class="col-xs-4">
          <input type="text" class="form-control" maxlength="2" placeholder="Area Code" ng-model="phone[0]"
                 change-focus="#phoneNumber" only-digits>

        </div>
        <div class="col-xs-8">
          <input type="text" class="form-control" id="phoneNumber"
                 maxlength="8" placeholder="Number" ng-model="phone[1]"
                 only-digits>
        </div>
      </div>
      <div ng-if="error.phone && submitted" class="help-block">{{error.phone}}</div>
    </div>

  </div>
  <div class="form-group" ng-class="{'has-error': form.mobile.$invalid && submitted}">
    <label class="col-sm-3 control-label">Mobile</label>

    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Mobile" name="mobile"
             ng-model="merchantConfigService.merchantConfig.general.mobile"
             mask="0999999999" clean="true" restrict="reject"
             maxlength="10" required>
      <div class="help-block" ng-if="form.mobile.$error.required && submitted">Mobile number is Required</div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Accounting Package</label>

    <div class="col-sm-9">
      <div class="row">
        <div style="height: 40px" class="col-xs-4">
          <label class="radio-inline">
            <input type="radio" name="accountingPackageOptions" style="margin-top: 7px"
                   ng-model="merchantConfigService.generalAccountingPackage" value="Xero"
                   ng-change="merchantConfigService.merchantConfig.general.accountingPackage = 'Xero'">
            <img src="/common/images/Xero 82x27.png">
          </label>
        </div>
      </div>
      <div class="row">
        <div style="height: 40px" class="col-xs-4">
          <label class="radio-inline" style="vertical-align: middle">
            <input type="radio" name="accountingPackageOptions" style="margin-top: 9px"
                   ng-model="merchantConfigService.generalAccountingPackage" value="MYOBAccountRight"
                   ng-change="merchantConfigService.merchantConfig.general.accountingPackage = 'MYOBAccountRight'">
            <img src="/common/images/MYOB AccountRight 204x28.jpeg">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2" style="height: 40px; margin-top: 5px">
          <label class="radio-inline">
            <input type="radio" name="accountingPackageOptions"
                   ng-model="merchantConfigService.generalAccountingPackage" value="Other"
                   ng-change="merchantConfigService.merchantConfig.general.accountingPackage = null"> Other
          </label>
        </div>
        <div ng-if="merchantConfigService.generalAccountingPackage === 'Other'" class="col-xs-9">
          <div class="form-group" ng-class="{'has-error': form.packageName.$invalid && submitted}">
            <label class="control-label col-xs-3">Name</label>
            <div class="col-xs-4">
              <input type="text" class="form-control" name="packageName" required
                     ng-model="merchantConfigService.merchantConfig.general.AccountingPackageDetail.name">
              <div class="help-block" ng-if="form.packageName.$error.required && submitted">Package name is required</div>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': form.packageVersion.$invalid && submitted}">
            <label class="control-label col-xs-3">Version</label>
            <div class="col-xs-4">
              <input type="text" class="form-control" name="packageVersion" required
                     ng-model="merchantConfigService.merchantConfig.general.AccountingPackageDetail.version">
              <div class="help-block" ng-if="form.packageVersion.$error.required && submitted">Package version is required</div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.email.$invalid && submitted}">
    <label class="col-sm-3 control-label">Debtor Emails From Address</label>

    <div class="col-sm-9">
      <input name="email" type="email" class="form-control" placeholder='"From" Address for Emails to Debtors'
             ng-model="merchantConfigService.merchantConfig.emailAddresses.debtorEmailsFromAddress" required>
      <div class="help-block" ng-if="form.email.$error.required && submitted">Debtor Emails From Address is required</div>
      <div class="help-block" ng-if="form.email.$error.email && submitted">Wrong email format</div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.smsSenderName.$invalid && submitted}">
    <label class="col-sm-3 control-label">SMS sender name</label>

    <div class="col-sm-5">
      <input name="smsSenderName" type="text" class="form-control" placeholder='Max 9 characters' required
             ng-model="merchantConfigService.merchantConfig.general.smsSenderName" maxlength="9">
      <div class="help-block" ng-if="form.smsSenderName.$error.required && submitted">SMS Sender Name is required</div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': error.logo}">
    <div class="col-sm-9 col-sm-offset-3">
      <div class="fileUpload btn btn-primary">
        <span>Upload Logo</span>
        <input type="file" class="upload" nv-file-select uploader="uploader" accept=".png" accept="image/x-png, image/png" custom-on-change="uploadFile" />
      </div>
      <div class="help-block" ng-if="error.logo">{{error.logo}}</div>
    </div>
  </div>
</form>
</div>

<script>
  function addDashes(f)
  {
    f.value = f.value.slice(0,3)+"-"+f.value.slice(3,6);
  }
</script>