<form name="form" ng-controller="BusinessRulesPanelController" class="css-form form-horizontal" ji-form
      style="margin-top: 30px" novalidate>

  <div class="form-group" style="margin-bottom: 0">
    <label class="col-sm-3 control-label">Discount for Early Payment</label>

    <div class="col-sm-9">
      <input name="discountForEarlyPayment" type="checkbox" ng-model="discountForEarlyPayment"
             ng-click="onDiscountForEarlyPaymentChange()" style="height: 25px;width: 25px">
      <span style="font-size: 25px; cursor: pointer;margin-left: 10px"
            popover="Tick this check box to configure early payment discounts if the Merchant wishes to offer debtors discounts for early payments"
            popover-trigger="mouseenter" popover-placement="right"
            class="glyphicon glyphicon-question-sign"></span>
    </div>
  </div>
  <div ng-if="discountForEarlyPayment">
    <div class="form-group" ng-class="{'has-error': form.earlyPaymentDays.$error.required && submitted}">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">EPD Cut-off (days)
      </label>

      <div class="col-sm-5">
        <input name="earlyPaymentDays" type="text" class="form-control"
               placeholder="Early payment discount available until X days" required
               ng-model="merchantConfigService.merchantConfig.businessRule.discounts.earlyPaymentDays" only-digits
               maxlength="2">
        <div class="help-block" ng-if="form.earlyPaymentDays.$error.required && submitted">This input is required</div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.earlyPaymentDiscountInvoiceMin.$error.required && submitted}">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">Invoice Minimum Amount
      </label>

      <div class="col-sm-5">
        <input name="earlyPaymentDiscountInvoiceMin" type="text" class="form-control"
               placeholder="Minimum Invoice Amount" required only-digits=""
               mask="$999" clean="true"
               ng-model="merchantConfigService.merchantConfig.businessRule.discounts.earlyPaymentDiscountInvoiceMin">
        <div class="help-block" ng-if="form.earlyPaymentDiscountInvoiceMin.$error.required && submitted">This input is required</div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.earlyPaymentDiscountAmount.$error.required && submitted}">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">Discount</label>

      <div class="col-sm-5">
        <div class="col-sm-7" style="padding-left: 0">
          <input name="earlyPaymentDiscountAmount" type="text" class="form-control"
                 required only-digits maxlength="4"
                 ng-model="merchantConfigService.merchantConfig.businessRule.discounts.earlyPaymentDiscountAmount"
                 placeholder="Discount - {{merchantConfigService.merchantConfig.businessRule.discounts.earlyPaymentDiscountAmountUnit === 'fixed' ? 'Fixed Amount' : 'Percentage'}}"
                 clean="true" change-prefix="merchantConfigService.merchantConfig.businessRule.discounts.earlyPaymentDiscountAmountUnit">
          <div class="help-block" ng-if="form.earlyPaymentDiscountAmount.$error.required && submitted">This input is required</div>
        </div>
        <div class="col-sm-5">
          <select class="form-control"
                  ng-model="merchantConfigService.merchantConfig.businessRule.discounts.earlyPaymentDiscountAmountUnit">
            <option value="fixed">$ (Fixed)</option>
            <option value="percentage">% (Percentage)</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" style="margin-top: 40px; margin-bottom: 0">
    <label class="col-sm-3 control-label">Universally available payment terms</label>

    <div class="col-sm-9">
      <input name="universallyAvailablePaymentTerms" type="checkbox"
             ng-model="merchantConfigService.universallyAvailablePaymentTermsSelected"
             ng-click="onUniversallyAvailablePaymentTerms()" style="height: 25px;width: 25px">
      <span style="font-size: 25px; cursor: pointer;margin-left: 10px"
            popover="Tick this check box to configure payment terms if the Merchant wishes to offer universal payment terms for all debtors"
            popover-trigger="mouseenter" popover-placement="right"
            class="glyphicon glyphicon-question-sign"></span>
    </div>
  </div>
  <div ng-if="merchantConfigService.universallyAvailablePaymentTerms">
    <div class="form-group">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">Term Duration</label>

      <div class="col-sm-5">
        <div class="col-sm-7" style="padding-left: 0">
          <input name="termDuration" type="text" class="form-control" placeholder="No. weeks / months"
                 required ng-model="merchantConfigService.merchantConfig.businessRule.paymentTerm.termDuration"
                 only-digits maxlength="2">
        </div>
        <div class="col-sm-5">
          <select class="form-control"
                  ng-model="merchantConfigService.merchantConfig.businessRule.paymentTerm.termDurationUnit">
            <option value="week">Week(s)</option>
            <option value="month">Month(s)</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">Payment frequency</label>

      <div class="col-sm-5">
        <div class="col-sm-7" style="padding-left: 0">
          <input name="paymentFrequency" type="text" class="form-control" placeholder="No. weeks / months"
                 required ng-model="merchantConfigService.merchantConfig.businessRule.paymentTerm.paymentFrequency"
                 only-digits maxlength="2">
        </div>
        <div class="col-sm-5">
          <select class="form-control"
                  ng-model="merchantConfigService.merchantConfig.businessRule.paymentTerm.paymentFrequencyUnit">
            <option value="week">Week(s)</option>
            <option value="month">Month(s)</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="form-group" style="margin-top: 40px; margin-bottom: 0">-->
    <!--<label class="col-sm-3 control-label">Debtor Specific Payment Terms</label>-->

    <!--<div class="col-sm-9">-->
      <!--<input type="checkbox" ng-model="merchantConfigService.merchantConfig.offersSpecialPaymentTerms"-->
             <!--style="height: 25px;width: 25px">-->
    <!--</div>-->
  <!--</div>-->

  <div class="form-group" style="margin-top: 40px; margin-bottom: 0">
    <label class="col-sm-3 control-label">Debtor Surcharges</label>

    <div class="col-sm-9">
      <input name="debtorSurcharges" type="checkbox" ng-model="merchantConfigService.debtorSurchargesSelected"
             style="height: 25px;width: 25px" ng-click="onDebtorSurchargesChange()">
      <span style="font-size: 25px; cursor: pointer;margin-left: 10px"
            popover="Tick this check box to configure debtor surcharge amounts for different payment types if the Merchant wishes to optionally pass on some / all of these charges to debtors."
            popover-trigger="mouseenter" popover-placement="right"
            class="glyphicon glyphicon-question-sign"></span>
    </div>
  </div>
  <div ng-if="merchantConfigService.debtorSurchargesSelected">
    <div class="form-group" ng-class="{'has-error': form.directDebitCharge.$invalid && submitted}">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">Nominated Back A/C Charge
      </label>

      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="$  (maximum $1.00)" name="directDebitCharge"
               ng-model="merchantConfigService.merchantConfig.businessRule.debtorSubcharge.directDebitCharge"
               only-digits max-value="100"
               mask="$9.99" clean="true">
        <div class="help-block" ng-if="form.directDebitCharge.$error.maxValue && submitted">Max value is $1.00</div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.visaRate.$invalid && submitted}">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">Visa Rate
      </label>

      <div class="col-sm-4">
        <input type="text" class="form-control" name="visaRate"
               placeholder="%  (maximum 1.50%)"
               percentage-input decimal-places="2" max-value="1.50"
               ng-model="merchantConfigService.merchantConfig.businessRule.debtorSubcharge.visaRate">
        <div class="help-block" ng-if="form.visaRate.$error.maxValue && submitted">Max value is 1.50%</div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.masterCardRate.$invalid && submitted}">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">Mastercard Rate
      </label>

      <div class="col-sm-4">
        <input type="text" maxlength="7" class="form-control" name="masterCardRate"
               placeholder="%  (maximum 1.50%)"
               percentage-input decimal-places="2"max-value="1.50"
               ng-model="merchantConfigService.merchantConfig.businessRule.debtorSubcharge.masterCardRate">
        <div class="help-block" ng-if="form.masterCardRate.$error.maxValue && submitted">Max value is 1.50%</div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.americanExpressRate.$invalid && submitted}">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">American Express Rate
      </label>

      <div class="col-sm-4">
        <input type="text" maxlength="7" class="form-control" name="americanExpressRate"
               placeholder="%  (maximum 3.30%)"
               percentage-input decimal-places="2" max-value="3.30"
               ng-model="merchantConfigService.merchantConfig.businessRule.debtorSubcharge.americanExpressRate">
        <div class="help-block" ng-if="form.americanExpressRate.$error.maxValue && submitted">Max value is 1.50%</div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.dinnerClubsRate.$invalid && submitted}">
      <label class="col-sm-offset-3 col-sm-2 control-label" style="text-align: left">Diners Club Rate
      </label>

      <div class="col-sm-4">
        <input type="text" maxlength="7" class="form-control" name="dinnerClubsRate"
               placeholder="%  (maximum 3.30%)"
               percentage-input decimal-places="2" max-value="3.30"
               ng-model="merchantConfigService.merchantConfig.businessRule.debtorSubcharge.dinnerClubsRate">
        <div class="help-block" ng-if="form.dinnerClubsRate.$error.maxValue && submitted">Max value is 1.50%</div>
      </div>
    </div>
  </div>

</form>

<!--<pre>{{merchantConfigService.merchantConfig.fees|json}}</pre>-->
