<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <link rel="stylesheet"
          href="dependencies-efcd0299.css"
          type="text/css"/>

    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="stylesheet" href="merchantconfig/panels/debtorcommunications/style.css" type="text/css"/>
  </head>
  <body data-ng-controller="IndexController" style="margin: 0">

    <div merchantconfig-stylesheet></div>

    <div ng-include="'merchantconfig/navbar.html'"></div>

    <input ji-scope-element="fileSelectInput" type="file" nv-file-select uploader="uploader" style="display: none"/>
    <div id="tab-header" class="row">
      <div class="col-xs-6">
        <p ng-cloak class="ng-cloak" ng-if="merchantConfigService.step === 1">Step 1: Referral Certification</p>
        <p ng-cloak class="ng-cloak" ng-if="merchantConfigService.step === 2 && currentPanel !== 'confirmation'">Step 2: Business Information</p>
        <p ng-cloak class="ng-cloak" ng-if="currentPanel === 'confirmation'">Step 3: Merchant Offer</p>
      </div>
      <div class="col-xs-6">
        <div class="control-group pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" style="width:142px">Live merchant</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Pending merchant</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Pending merchant</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Pending merchant</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-info pull-right" style="margin: 20px 20px 20px 0" ng-click="newMerchant()">
              Create new merchant
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="main" ng-cloak class="ng-cloak" ng-show="merchantConfigService.step > 0">
      <div id="mainTabSet">
        <div class="btn" ng-click="changeTab('referral')"
             ng-class="{selected: currentPanel === 'referral',
                        'valid': merchantConfigService.step > 1}"
             ng-disabled="merchantConfigService.step > 1"
             ng-show="merchantConfigService.step >= 1">
          <small>Referral Partner</small><br/>
          Certification
        </div>
        <div class="btn" ng-click="changeTab('general')"
             ng-class="{'selected': currentPanel === 'general',
                        'invalid': generalInvalid && generalClean,
                        'valid': generalInvalid === false}"
             ng-show="merchantConfigService.step > 1">
          General</div>
        <div class="btn" ng-click="changeTab('addresses')"
             ng-class="{'selected': currentPanel === 'addresses',
                        'invalid': addressesInvalid && addressesClean,
                        'valid': addressesInvalid === false}"
             ng-show="merchantConfigService.step > 1">
          Addresses
        </div>
        <!--<div class="btn" ng-click="currentPanel = 'emailaddresses'" ng-class="{selected: currentPanel === 'emailaddresses'}">Email Addresses</div>-->
        <div class="btn" ng-click="changeTab('contacts')"
             ng-class="{'selected': currentPanel === 'contacts',
                        'invalid': contactsInvalid && contactsClean,
                        'valid': contactsInvalid === false}"
             ng-show="merchantConfigService.step > 1">
          Contacts
        </div>
        <div class="btn" ng-click="changeTab('administrators')"
             ng-class="{'selected': currentPanel === 'administrators',
                        'invalid': administratorsInvalid && administratorsClean,
                        'valid': administratorsInvalid === false}"
             ng-show="merchantConfigService.step > 1">
          Administrators
        </div>
        <div class="btn" ng-click="changeTab('banking')"
             ng-class="{'selected': currentPanel === 'banking',
                        'invalid': bankingInvalid && bankingClean,
                        'valid': bankingInvalid === false}"
             ng-show="merchantConfigService.step > 1">
          Banking Details
        </div>
        <div class="btn" ng-click="changeTab('businessrules')"
             ng-class="{'selected': currentPanel === 'businessrules',
                        'invalid': businessrulesInvalid && businessrulesClean,
                        'valid': businessrulesInvalid === false}"
             ng-show="merchantConfigService.step > 1">
          Business Rules
        </div>
        <div class="btn" ng-click="changeTab('debtorcommunications')"
             ng-class="{selected: currentPanel === 'debtorcommunications',
                        'invalid': debtorcommunicationsInvalid,
                        'valid': debtorcommunicationsInvalid === false}"
             ng-show="merchantConfigService.step > 1">
          Communications
        </div>
        <div class="btn" ng-click="changeTab('confirmation')"
             ng-class="{selected: currentPanel === 'confirmation'}"
             ng-show="merchantConfigService.step > 1">
          <small>Services Agreement <br/>& Business Rules</small> <br/>
          Confirmation
        </div>

      </div>

      <!--<accordion close-others="true">-->
      <!--<accordion-group heading="General" is-open="true">-->
      <!--<div ng-include="'merchantconfig/panels/general/panel.html'"></div>-->
      <!--</accordion-group>-->
      <!--<accordion-group heading="Addresses">-->
      <!--<div ng-include="'merchantconfig/panels/addresses/panel.html'"></div>-->
      <!--</accordion-group>-->
      <!--<accordion-group heading="Email Addresses">-->
      <!--<div ng-include="'merchantconfig/panels/emailaddresses/panel.html'"></div>-->
      <!--</accordion-group>-->
      <!--<accordion-group heading="Contacts/Administrators etc">-->
      <!--<div ng-include="'merchantconfig/panels/contactsetc/panel.html'"></div>-->
      <!--</accordion-group>-->
      <!--<accordion-group heading="Banking Details">-->
      <!--<div ng-include="'merchantconfig/panels/banking/panel.html'"></div>-->
      <!--</accordion-group>-->
      <!--<accordion-group heading="Business Rules">-->
      <!--<div ng-include="'merchantconfig/panels/businessrules/panel.html'"></div>-->
      <!--</accordion-group>-->
      <!--<accordion-group heading="Debtor Communications">-->
      <!--<div ng-include="'merchantconfig/panels/debtorcommunications/panel.html'"></div>-->
      <!--</accordion-group>-->
      <!--</accordion>-->

      <div id="mainPanels">
        <h3 ng-bind="merchantConfigService.merchantConfig.general.merchantTradingName"></h3>

        <div ng-switch="currentPanel">

          <div ng-switch-when="general">
            <div ng-include="'merchantconfig/panels/general/panel.html'"></div>
          </div>

          <div ng-switch-when="addresses">
            <div ng-include="'merchantconfig/panels/addresses/panel.html'"></div>
          </div>

          <!--<div ng-switch-when="emailaddresses">-->
          <!--<div ng-include="'merchantconfig/panels/emailaddresses/panel.html'"></div>-->
          <!--</div>-->

          <div ng-switch-when="contacts">
            <div ng-include="'merchantconfig/panels/contacts/panel.html'"></div>
          </div>

          <div ng-switch-when="administrators">
            <div ng-include="'merchantconfig/panels/administrators/panel.html'"></div>
          </div>

          <div ng-switch-when="banking">
            <div ng-include="'merchantconfig/panels/banking/panel.html'"></div>
          </div>

          <div ng-switch-when="businessrules">
            <div ng-include="'merchantconfig/panels/businessrules/panel.html'"></div>
          </div>

          <div ng-switch-when="debtorcommunications">
            <div ng-include="'merchantconfig/panels/debtorcommunications/panel.html'"></div>
          </div>

          <div ng-switch-when="confirmation">
            <div ng-include="'merchantconfig/panels/confirmation/panel.html'"></div>
          </div>

          <div ng-switch-when="referral">
            <div ng-include="'merchantconfig/panels/referral/panel.html'"></div>
          </div>

        </div>

        <!--        <button class="btn btn-primary pull-right" style="margin: 20px 20px 20px 0; width: 100px"
                        ng-click="validateAndExportConfig()">Save
                </button>
                <button class="btn btn-primary pull-right" style="margin: 20px 20px 20px 0; width: 100px" ng-click="exportConfig()">
                  Save Draft
                </button>
                <button class="btn btn-info pull-right" style="margin: 20px 20px 20px 0; width: 100px" ng-click="importConfig()">
                  Load
                </button>-->
        <button class="btn btn-info pull-right" style="margin: 20px 20px 20px 0;" ng-click="next()" ng-if="currentPanel !== 'referral' && currentPanel !== 'confirmation'">
          Next
        </button>
        <button class="btn btn-primary pull-right" style="margin: 20px 20px 20px 0;" ng-click="validateAndExportConfig()" ng-if="currentPanel !== 'referral' && currentPanel !== 'confirmation'">
          Save & Close
        </button>
        <button class="btn btn-info pull-right" style="margin: 20px 20px 20px 0;" ng-click="back()" ng-if="currentPanel !== 'general' && currentPanel !== 'referral'">
          Back
        </button>
      </div>

    </div>

    <!--<button class="btn btn-primary pull-right" style="margin: 20px 20px 20px 0; width: 100px" ng-click="exportConfig()">-->
    <!--Save Draft-->
    <!--</button>-->
    <!--<button class="btn btn-info pull-right" style="margin: 20px 20px 20px 0; width: 100px" ng-click="importConfig()">-->
    <!--Load-->
    <!--</button>-->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="../bower_components/ngMask/dist/ngMask.min.js"></script>
    <script src="../bower_components/ji-angular/ji-angular.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/lodash/lodash.min.js"></script>
    <script src="../bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>

    <script src="../cm-angular-common/src/module.js"></script>
    <script src="../cm-angular-common/src/CmService.js"></script>
    <script src="../cm-angular-common/src/filters.js"></script>
    <script src="../cm-angular-common/src/PreLogonService.js"></script>
    <script src="../cm-angular-common/src/dialogs/changeNominatedAccountDialog/Service.js"></script>
    <script src="../cm-angular-common/src/dialogs/changeNominatedAccountDialog/Controller.js"></script>
    <script src="../cm-angular-common/src/dialogs/changePasswordDialog/Service.js"></script>
    <script src="../cm-angular-common/src/dialogs/changePasswordDialog/Controller.js"></script>
    <script src="../cm-angular-common/src/dialogs/editUserDialog/Service.js"></script>
    <script src="../cm-angular-common/src/dialogs/editUserDialog/Controller.js"></script>
    <script src="../cm-angular-common/src/dialogs/makePaymentDialog/Service.js"></script>
    <script src="../cm-angular-common/src/dialogs/makePaymentDialog/Controller.js"></script>
    <script src="../cm-angular-common/src/dialogs/remainingOnTermsDialog/Service.js"></script>
    <script src="../cm-angular-common/src/dialogs/remainingOnTermsDialog/Controller.js"></script>
    <script src="app.js"></script>
    <script src="Service.js"></script>
    <script src="Directive.js"></script>
    <script src="Filter.js"></script>
    <script src="PageInitializationModuleAndService.js"></script>
    <script src="IndexController.js"></script>
    <script src="modals/modal.service.js"></script>
    <script src="panels/general/Controller.js"></script>
    <script src="panels/contacts/Controller.js"></script>
    <script src="panels/addresses/Controller.js"></script>
    <script src="panels/emailaddresses/Controller.js"></script>
    <script src="panels/administrators/Controller.js"></script>
    <!--    <script src="panels/banking/Controller.js"></script>-->
    <script src="panels/businessrules/Controller.js"></script>
    <!--    <script src="panels/contacts/Controller.js"></script>-->
    <script src="panels/debtorcommunications/Controller.js"></script>
    <script src="panels/banking/Controller.js"></script>
    <script src="panels/confirmation/Controller.js"></script>
    <script src="panels/referral/Controller.js"></script>
  </body>
</html>
