*:focus {
    outline: 0;
}
#mainTabSet {
    position: absolute;
    top: 36px;
    left: 20px;
    width: 135px
}

#mainTabSet > div {
    text-align: left;
    display: block;
    background-color: rgb(39, 95, 146);
    color: white;
    border-color: white;
    border-top-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    opacity: 0.75;

}

#mainTabSet > div.selected {
    opacity: 1;
    border-right-style: none;
}

#mainPanels {
    padding-right: 20px;
}

#mainPanels > div {
    display: block;
    padding: 20px;
    border: 1px solid rgb(39, 95, 146);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    min-height: 315px;
}

.main {
    padding-left: 155px;
    position: relative;
}

#mainPanels > h3 {
    display: block;
    min-height: 26px;
}

body > hr {
    margin-top:0;
    margin-bottom: -15px;
    border-top:solid 6px #286090;
}

.row.abnNumber .col-xs-2{
    width: 12% !important;
}

.contact-form .help-block{
    margin-bottom: 0;
    margin-top: 15px;
}

.control-group .btn-group {
    margin-left: 10px;
}
.borderless td, .borderless th {
  border: none !important;
}
.authorize-confirm{padding-top:25px;}