*:focus {
    outline: 0;
}

#mainTabSet {
    position: absolute;
    top: 36px;
    left: 20px;
    width: 135px
}

#mainTabSet > div:first-child {
    margin-bottom: 15px;
}

#mainTabSet > div:last-child {
    margin-top: 15px;
}

#mainTabSet > div {
    text-align: left;
    display: block;
    background-color: rgb(39, 95, 146);
    color: white;
    border-color: white;
    border-top-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    opacity: 0.75;

}

#mainTabSet > div.selected {
    opacity: 1;
    border-right-style: none;
}

#mainTabSet > div.invalid {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#mainTabSet > div.valid {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#mainPanels {
    padding-right: 20px;
}

#mainPanels > div {
    display: block;
    padding: 20px;
    border: 1px solid rgb(39, 95, 146);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    min-height: 386px;
}

.main {
    padding-left: 155px;
    position: relative;
}

#tab-header > div > p {
    padding-top: 16px;
    padding-left: 36px;
    font-size: 30px;

}

#mainPanels > h3 {
    display: block;
    min-height: 26px;
}

body > hr {
    margin-top: 0;
    margin-bottom: -15px;
    border-top: solid 6px #286090;
}

.row.abnNumber .col-xs-2 {
    width: 12% !important;
}

.contact-form .help-block {
    margin-bottom: 0;
    margin-top: 15px;
}

.control-group .btn-group {
    margin-left: 10px;
}

.borderless td, .borderless th {
    border: none !important;
}

.authorize-confirm {
    padding-top: 25px;
    float: right
}

.sms-menu .col-xs-2 {
    width: 15%;
}

.sms-menu .col-xs-2:first-child {
    width: 21%;
}

.active-panel {
    height: 50px;
    width: 100%;
}

.menu-step li {
    position: relative;
}

.completed-green:after, .completed-yellow:after, .completed-yellow:after, .completed-red:after, .completed-purple:after {
    position: absolute;
    bottom: -50px;
    left: 50%;
    font-size: 25px;
    content: " ";
    display: block;
    width: 14px;
    height: 30px;
    border: solid #449D44;
    border-width: 0 3px 6px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.review {
    font-size: 12px;
}

.review .content h4 {
    font-weight: bold;
    text-decoration: underline;
}

.btn.make-offer {
    height: 70px;
    font-size: 21px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}